doctype html
html
	head
		meta(charset='utf-8')
		meta(lang='ru')
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Russo+One&display=swap' rel='stylesheet')
		style= styles
	body
		each item in items
			.item
				-
					var image = fs.readFileSync(root + '/files/images/' + item.image)
					var base64Image = new Buffer.from(image).toString('base64')
					var dataURI = 'data:image/jpeg;base64,' + base64Image
				img.item-pic.item-data(src=dataURI)
				.item-about.item-data
					p.item-title= item.title
					.item-cost-container
						- var isDiscount = item.discount > 0
						if !isDiscount
							p.item-cost= item.price + ' руб'
						else
							- var newPrice = item.getPrice()
							del.old-cost= item.price
							p.item-discount= newPrice + ' руб'